<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <IWD_Ces>
            <version>0.0.1</version>
        </IWD_Ces>
    </modules>

    <global>
        <helpers>
            <iwd_ces>
                <class>IWD_Ces_Helper</class>
            </iwd_ces>
        </helpers>
        <blocks>
            <iwd_ces>
                <class>IWD_Ces_Block</class>
            </iwd_ces>
        </blocks>
        <models>
            <iwd_ces>
                <class>IWD_Ces_Model</class>
                <resourceModel>iwd_ces_resource</resourceModel>
            </iwd_ces>
            <iwd_ces_resource>
                <class>IWD_Ces_Model_Resource</class>
                <entities>
                    <table_iwd_ces>
                        <table>iwd_ces</table>
                    </table_iwd_ces>
                </entities>
            </iwd_ces_resource>
        </models>
        <resources>
            <ces_setup>
                <setup>
                    <module>IWD_Ces</module>
                </setup>
            </ces_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <iwd_ces>
                    <file>iwd_ces.xml</file>
                </iwd_ces>
            </updates>
        </layout>
        <routers>
            <iwd_ces>
                <use>iwd_ces_router</use>
                <args>
                    <module>IWD_Ces_Frontend</module>
                    <frontName>ces</frontName>
                </args>
            </iwd_ces>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <iwd_ces_cache_clean>
                        <class>iwd_ces/observer</class>
                        <method>disableCache</method>
                    </iwd_ces_cache_clean>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <default>
        <web>
            <routers>
                <iwd_ces_router>
                    <area>frontend</area>
                    <class>IWD_Ces_Controller_Router</class>
                </iwd_ces_router>
            </routers>
        </web>
        <iwd_ces>
            <questions_answers>
                <show_questions_answers>1</show_questions_answers>
            </questions_answers>
            <other>
                <show_breadcrumbs>0</show_breadcrumbs>
            </other>
            <feature_requests>
                <show_feature_request>1</show_feature_request>
            </feature_requests>
            <reviews>
                <show_reviews>1</show_reviews>
            </reviews>
        </iwd_ces>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <iwd_ces>
                    <file>iwd_ces.xml</file>
                </iwd_ces>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iwd_ces before="Mage_Adminhtml">IWD_Ces_Adminhtml</iwd_ces>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>